<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openflamingo.web.engine.EngineRepository">

    <!-- ==================================================================================== -->
    <!-- 1. Result and Parameter Maps -->
    <!-- ==================================================================================== -->

    <resultMap id="engineMap" type="org.openflamingo.model.rest.Engine">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="ip" column="IP" jdbcType="VARCHAR"/>
        <result property="port" column="PORT" jdbcType="VARCHAR"/>
        <result property="hadoopClusterId" column="CLUSTER_ID" jdbcType="BIGINT"/>
        <result property="hiveServerId" column="HIVE_ID" jdbcType="BIGINT"/>
    </resultMap>

    <!-- ==================================================================================== -->
    <!-- 2. Sql Fragments -->
    <!-- ==================================================================================== -->

    <sql id="wherePK">WHERE ID = #{id}</sql>

    <!-- ==================================================================================== -->
    <!-- 3. Select Statement -->
    <!-- ==================================================================================== -->

    <select id="select" resultMap="engineMap">
        SELECT * FROM ENGINE
        <include refid="wherePK"/>
    </select>

    <select id="selectAll" resultMap="engineMap">
        SELECT * FROM ENGINE
    </select>

    <!-- ==================================================================================== -->
    <!-- 3. Exist Statement -->
    <!-- ==================================================================================== -->

    <select id="exist" parameterType="string" resultType="Integer">
        SELECT COUNT(*) FROM ENGINE
        <include refid="wherePK"/>
    </select>

    <!-- ==================================================================================== -->
    <!-- 4. Insert Statements -->
    <!-- ==================================================================================== -->

    <insert id="insert" parameterType="engine" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO ENGINE ( ID, NAME, IP, PORT, CLUSTER_ID, HIVE_ID )
        VALUES ( #{id}, #{name}, #{ip}, #{port}, #{hadoopClusterId}, #{hiveServerId} )

        <selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- ==================================================================================== -->
    <!-- 5. Update Statements -->
    <!-- ==================================================================================== -->

    <update id="update" parameterType="engine">
        UPDATE ENGINE
        SET
        ID = #{id},
        NAME = #{name},
        IP = #{ip},
        PORT = #{port},
        CLUSTER_ID = #{hadoopClusterId},
        HIVE_ID = #{hiveServerId}
        <include refid="wherePK"/>
    </update>

    <!-- ==================================================================================== -->
    <!-- 6. Delete Statements -->
    <!-- ==================================================================================== -->

    <delete id="delete" parameterType="string">
        DELETE FROM ENGINE
        <include refid="wherePK"/>
    </delete>
</mapper>